ipykernel
openai>=1.43.0
langchain>=0.2.14
langchain-cli
langserve
langchain-openai
langchain-ollama
langchain-community
langchain_pinecone
langchainhub
pydantic<=1.9
instructor
pypdf
chromadb
arxiv
xmltodict
duckduckgo-search
playwright
matplotlib
streamlit
python-dotenv
unstructured
pysqlite3