ipykernel
openai>=1.60
langchain>=1.0
langgraph>=1.1
langsmith
langchain-cli
langserve
langchain-openai>=1.0
langchain-ollama
langchain-community>=1.0
langchain-pinecone
langchainhub
langchain-chroma
pydantic
instructor
pypdf
chromadb
arxiv
xmltodict
duckduckgo-search
playwright
matplotlib
streamlit
python-dotenv
unstructured
pysqlite3
wget
plotly

