ipykernel
openai
langchain>=0.3.0
langsmith
langchain-cli
langserve
langchain-openai
langchain-ollama
langchain-community
langchain-pinecone
langchainhub
langchain-chroma
pydantic
instructor
pypdf
chromadb
arxiv
xmltodict
duckduckgo-search
playwright
matplotlib
streamlit
python-dotenv
unstructured
pysqlite3
wget
plotly

